.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/background1.jpg);
  height: 800px;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/background2.jpg);
  height: 800px;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/background3.jpg);
  height: 800px;
}
